# =========================
# Spring Boot
# =========================
finditdit/target/
*.class
*.log

# =========================
# React / Vite
# =========================
frontend/node_modules/
frontend/dist/

# =========================
# Environment files
# =========================
.env
frontend/.env
finditdit/.env

# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml

# Eclipse
.project
.classpath
.settings/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db