# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Compiled Java files
*.class

# Spring Boot
*.log

# IDE
.idea/
*.iml

# Environment configuration
application-local.properties
application-secret.properties